{% extends 'game/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'game/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <div class="panel panel-info">
                    <div class="panel-heading"><strong>Login with</strong></div>
                    <div class="panel-body">
                        {% load socialaccount %}
                            <a href="{% provider_login_url "facebook" method="oauth2" %}"><img src="/media/facebook_word.png" class="img-responsive" style="width:150px;height:50px;"></a>
                            <a href="{% provider_login_url "google" method="oauth2" %}"><img src="/media/google_word.png" class="img-responsive" style="width:150px;height:50px;"></a>
                    </div>
                </div>


                <div class="panel-footer">
                    Already have an account? <a href="{% url 'game:login_user' %}">Click here</a> to log in.
                </div>
                <div class="panel-footer">
                    By proceeding, you agree to our <a href="{% url 'game:policyandagreement' %}" target="_blank">Privacy Policy and Terms of Use.</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

